.Rproj.user
.git - Copy/*.*
.gitnew/*.*
awsKey.R
.env
*.csv
*.Rdata
server_name.R
.Rhistory
Rplot.pdf
Rplot01.pdf
backupof.git/
code check thoughts.R
createTestData.R
dataChecksRevisingCodeCheck.R
donut charts.R
dqMetrics.R
formattingTablesCodeEditing.R
formattingTablesCodeReal.R
heatmap.R
moreDQMetricscode.R
new0a.R
oldDqMetricIdeas.R
otherVisitStats.R
reportdqmetrics.rmd
reportdqmetrics2.rmd
sampleDatasetDescription.txt
sessionReloadTest.R
temp.Rmd
test
upload_notes.txt
writing to harmonist 3.R
.DS_Store
base-changes.diff
harmonist.patch
iedeaLogo.png
iedeaLogoSmall.png
tests/
tmp-changes.diff
tmp-changes.zip


